## Data Wrangling Notes

In [2]:
## 1. Find out how many students (each year) started the program subtracted by how many dropped.
## 7999 is code for missed work. 7999 on iRAT score doesn't mean student dropped
## 9999 could mean dropped if in the tRAT scoring

* This will answer the question of our sample size. Student drop due to moving on to graduate schools etc.

In [3]:
## 2. We only need to use scores for TBLs 1-3 we can drop 4

* because of ceiling effect

In [4]:
## 3. Once #1 is accomplished all 7999 and 9999 info could be dropped from data

* 7999 & 9999 are our NA data that needs to be removed to clean up for analysis

In [5]:
## 4. Separate data by cohort (year) 2019, 2020, 2021

* needed to compare year over year

In [6]:
## 5. Seperate data by Group Number per cohort (year)

* need to compare the individual to the group. This is needed for each cohort year as well.

In [ ]:
## 6. Individual average iRAT score to Group (team) tRAT score average

*Once groups are separated then we can analze averages on scores and compare individual to team etc.