In [1]:
## Import packages
import numpy as np
import pandas as pd

In [2]:
## Import CSV data
f2f_teams = pd.read_csv("f2fMerged_raw.csv")

In [3]:
## View Data
f2f_teams

,UID,Section,Group,Sum_Introversion,Sum_Extraversion,TBL1_iRAT,TBL2_iRAT,TBL3_iRAT,TBL4_iRAT,TBL1_tRAT,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
0,ID,Section,Group,Sum_Introversion,Sum_Extraversion,Module 1: iRAT -- Requires Respondus LockDown ...,Module 2: iRAT - Requires Respondus LockDown B...,Module 3: iRAT - Requires Respondus LockDown B...,Module 4: iRAT - Requires Respondus LockDown B...,Module 1: tRAT -- Only one Team Member submits...,...,Module 4: Step 6 -- Reflection for EQ-i Summar...,Module 4: Step 7 -- Improving Resilience throu...,Module 4: Self-Assessment -- EQ-i Debrief (com...,Module 4: Team Assessment -- EQ-i Debrief (com...,Module 4: Peer-to-Peer Assessment -- EQ-i Debr...,Module 5: Relaxation and Mindfullness Techniqu...,Module 6: Reflection for Prioritizing Sleep (c...,Module 7: SMART Goals (completion grade),Module 8: Filling the Gaps (completion grade),Module 9: Physical Activity Goal (completion g...
1,10267,F2F_2021,24,24,11,3,2,5,3,15,...,1,1,0,1,1,1,1,1,1,1
2,23143,F2F_2021,8,20,13,3,2,3,2,15,...,0,1,1,1,1,1,1,1,1,1
3,23144,F2F_2021,8,9999,9999,4,2,3,4,15,...,1,1,1,1,1,1,1,1,1,1
4,23145,F2F_2021,5,18,18,4,2,2,3,15,...,1,1,1,1,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620,19143,F2F_2019,3,29,5,3,4,5,4,15,...,1,7999,1,1,1,7999,7999,7999,7999,7999
621,19144,F2F_2019,8,18,17,4,4,4,0,15,...,9999,7999,9999,1,1,7999,7999,7999,7999,7999
622,19145,F2F_2019,10,29,6,4,4,4,4,14,...,1,7999,1,1,1,7999,7999,7999,7999,7999
623,19153,F2F_2019,15,15,18,5,4,4,4,15,...,1,7999,1,1,1,7999,7999,7999,7999,7999
624,NaN,NaN,NaN,NaN,NaN,5,5,5,5,15,...,1,1,1,1,1,1,1,1,1,1

In [4]:
## Begin the process of attempting to break up data according to the Section column
f2f_section = pd.get_dummies(f2f_teams['Section'])

In [5]:
f2f_sectioned = pd.concat([f2f_teams, f2f_section], axis=1)

In [6]:
#View to confirm that the new columns are in the dataset and able to be worked with

f2f_sectioned

,UID,Section,Group,Sum_Introversion,Sum_Extraversion,TBL1_iRAT,TBL2_iRAT,TBL3_iRAT,TBL4_iRAT,TBL1_tRAT,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,F2F_2019,F2F_2020,F2F_2021,Section
0,ID,Section,Group,Sum_Introversion,Sum_Extraversion,Module 1: iRAT -- Requires Respondus LockDown ...,Module 2: iRAT - Requires Respondus LockDown B...,Module 3: iRAT - Requires Respondus LockDown B...,Module 4: iRAT - Requires Respondus LockDown B...,Module 1: tRAT -- Only one Team Member submits...,...,Module 4: Peer-to-Peer Assessment -- EQ-i Debr...,Module 5: Relaxation and Mindfullness Techniqu...,Module 6: Reflection for Prioritizing Sleep (c...,Module 7: SMART Goals (completion grade),Module 8: Filling the Gaps (completion grade),Module 9: Physical Activity Goal (completion g...,0,0,0,1
1,10267,F2F_2021,24,24,11,3,2,5,3,15,...,1,1,1,1,1,1,0,0,1,0
2,23143,F2F_2021,8,20,13,3,2,3,2,15,...,1,1,1,1,1,1,0,0,1,0
3,23144,F2F_2021,8,9999,9999,4,2,3,4,15,...,1,1,1,1,1,1,0,0,1,0
4,23145,F2F_2021,5,18,18,4,2,2,3,15,...,0,0,0,1,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620,19143,F2F_2019,3,29,5,3,4,5,4,15,...,1,7999,7999,7999,7999,7999,1,0,0,0
621,19144,F2F_2019,8,18,17,4,4,4,0,15,...,1,7999,7999,7999,7999,7999,1,0,0,0
622,19145,F2F_2019,10,29,6,4,4,4,4,14,...,1,7999,7999,7999,7999,7999,1,0,0,0
623,19153,F2F_2019,15,15,18,5,4,4,4,15,...,1,7999,7999,7999,7999,7999,1,0,0,0
624,NaN,NaN,NaN,NaN,NaN,5,5,5,5,15,...,1,1,1,1,1,1,0,0,0,0